.hero_container {
  background-image: url("../../assets/hero.png");
  background-size: 252px;
  background-repeat: no-repeat;
  /* background-color: rgb(41, 40, 40); */
  max-width: 1480px;
  height: 850px;
}

.hero_title {
  font-family: Oswald;
  font-size: 36px;
  font-weight: 600;
  line-height: 47.41px;
  text-align: left;
  width: 356px;
  color: white;
}

.hero_title span {
  font-family: Oswald;
  font-size: 36px;
  font-weight: 600;
  line-height: 47.41px;
  text-align: left;
  color: #86da44;
}

.hero_title2 {
  font-family: Oswald;
  font-size: 27px;
  font-weight: 600;
  line-height: 35.56px;
  text-align: left;
  color: #86da44;
}
.hero_desc {
  font-family: Oswald;
  font-size: 18px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;
  color: white;
  opacity: 0.7;
  width: 569px;
  margin-top: 15px;
}
.hero_div {
  margin-left: 135px;
  padding-top: 110px;
}

.hero_img {
  filter: grayscale(100%);
  transition: all 0.6s;
  cursor: pointer;
}

.hero_img:hover {
  filter: grayscale(0%);
}

.hero_imgg {
  filter: grayscale(100%);
  transition: all 0.6s;
  cursor: pointer;
}

.hero_imgg:hover {
  filter: grayscale(0%);
}
